<!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
    <div class='preloader'><div class='loaded'>&nbsp;</div></div>
        <header id="main_menu" class="header navbar-fixed-top">            
            <div class="main_menu_bg">
                <div class="container">
                    <div class="row">
                        <div class="nave_menu">
                            <nav class="navbar navbar-default" id="navmenu">
                                <div class="container-fluid">
                                    <!-- Brand and toggle get grouped for better mobile display -->
                                    <div class="navbar-header">
                                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                        <a class="navbar-brand" href="index.html">
                                            <img src="assets/images/logo.png"/>
                                        </a>
                                    </div>
                               
                                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                        <ul class="nav navbar-nav navbar-right">
                                            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true">ayuda</a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="service.html">service page</a></li>
                                                    <li><a href="service1.html">service page two</a></li>
                                                </ul>
                                            </li>                                                                        
                                        </ul>    
                                    </div>

                                </div>
                            </nav>
                        </div>	
                    </div>
                </div>
            </div>
        </header> <!--End of header -->


        <!-- Home Section -->
        <section id="home" class="home">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 ">
                        <div class="main_home_slider text-center">
                            
                            <div class="single_home_slider">
                                <div class="home-overlay"></div>
                                <div class="main_home wow fadeInUp" data-wow-duration="700ms"> 
                                    <h2>Buscador de emociones en twitter.</h2>
                                    <div class="separator"></div>
                                    <p class="subtitle">Toda la informacion <br />
                                        ordenada en un solo lugar</p>
                                    <div class="home_btn">
                                        <a href="" class="btn-3">Más Información</a>
                                    </div>
                                </div>
                            </div><!-- End of single_home_slider -->

                            <div class="single_home_slider">
                                <div class="home-overlay"></div>
                                <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                                    <h2>Trending Topics</h2>
                                    <div class="separator"></div>
                                    <p class="subtitle">Lo mas hablado en Argentina ahora!</p>
                                    <app-trends></app-trends>
                                </div>
                            </div><!-- End of single_home_slider -->
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End of Home Section -->

        <!-- Busqueda Section -->
        <section id="service" class="contactus">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="main_contact sections"> 
                            <div class="single_service_area ">
                                <div class="row">
                                    <app-chart></app-chart>  

                                    <div class="col-sm-5 col-sm-pull-6">
                                        <div class="single_service">                                    
                                            <div class="head_title text-center">
                                                <h2>Hace tu búsqueda</h2>
                                            </div>        
                                                <app-busqueda></app-busqueda>                                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <div style="background-color:#F4F4F4;  ">
                            <div class="single_service_area  margin-top-60" style="width: 60%;  margin-left: 22%">                                                                    
                                    <app-tweets-list></app-tweets-list> 
                            </div><!-- End of single service area -->
                        </div>
                        </div>
                    </div><!-- End of col-sm-12 -->
                </div><!-- End of row -->
            </div><!-- End of Container -->
        </section><!-- End of Busqueda Section -->

        <!-- Contact Section -->
        <section id="contact" class="contact">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="main_contact sections">
                            <div class="head_title text-center whitetext">
                                <h1>Sobre nosotras</h1>
                            </div><!-- End of head title -->

                            <div class="row">
                                <div class="contact_contant">
                                    <div class="col-sm-6 col-xs-12">
                                        <div class="single_message_right_info whitetext">
                                            <ul>
                                                <li><i class="fa fa-user" ></i> <span>Florencia Marrocchi</span></li>

                                                <li><i class="fa fa-user" aria-hidden="false"></i> <span>Carolina Rapetti</span></li>

                                                <li><i class="fa fa-map-marker"></i> <span>Universidad Nacional del Sur, Bahía Blanca</span></li>

                                                <li><i class="fa fa-envelope-o"></i> <span>flor.marro@gmail.com</span></li>
                                                <li><i class="fa fa-envelope-o"></i><span>rapetticarolina@gmail.com</span></li>
                                            </ul>
                                        </div>
                                    </div><!-- End of col-sm-6 -->

                                </div> <!-- End of messsage contant-->
                            </div>
                        </div>
                    </div><!-- End of col-sm-12 -->
                </div><!-- End of row -->
            </div><!-- End of Contaier -->
        </section><!-- End of portfolio Section --> 



        <!-- footer Section -->
        <footer id="footer" class="footer">
            <div class="container">
                <div class="main_footer">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="copyright_text text-center">
                                <p class=" wow fadeInRight" data-wow-duration="1s">Trabajo realizado como <a target="_blank" href="http://bootstrapthemes.co">Proyecto Final de Ingeniería en Sistemas de Información</a> por Florencia Marrocchi y Carolina Rapetti. Año 2019</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- End of container -->
        </footer><!-- End of footer -->



        <!-- START SCROLL TO TOP  -->

        <div class="scrollup">
            <a href="#"><i class="fa fa-chevron-up"></i></a>
        </div>


