<!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
    <div class='preloader'><div class='loaded'>&nbsp;</div></div>
        <header id="main_menu" class="header navbar-fixed-top">            
            <div class="main_menu_bg">
                <div class="container">
                    <div class="row">
                        <div class="nave_menu">
                            <nav class="navbar navbar-default" id="navmenu">
                                <div class="container-fluid">
                                    <!-- Brand and toggle get grouped for better mobile display -->
                                    <div class="navbar-header">
                                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                        <a class="navbar-brand" href="index.html">
                                            <img src="assets/images/logo.png"/>
                                        </a>
                                    </div>
                               
                                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                        <ul class="nav navbar-nav navbar-right">
                                            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true">ayuda</a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="service.html">service page</a></li>
                                                    <li><a href="service1.html">service page two</a></li>
                                                </ul>
                                            </li>                                                                        
                                        </ul>    
                                    </div>

                                </div>
                            </nav>
                        </div>	
                    </div>
                </div>
            </div>
        </header> <!--End of header -->


        <!-- Home Section -->
        <section id="home" class="home">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 ">
                        <div class="main_home_slider text-center">
                            
                            <div class="single_home_slider">
                                <div class="home-overlay"></div>
                                <div class="main_home wow fadeInUp" data-wow-duration="700ms"> 
                                    <h2>Buscador de emociones en twitter.</h2>
                                    <div class="separator"></div>
                                    <p class="subtitle">Toda la informacion <br />
                                        ordenada en un solo lugar</p>
                                    <div class="home_btn">
                                        <a href="" class="btn-3">Más Información</a>
                                    </div>
                                </div>
                            </div><!-- End of single_home_slider -->

                            <div class="single_home_slider">
                                <div class="home-overlay"></div>
                                <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                                    <h2>Trending Topics</h2>
                                    <div class="separator"></div>
                                    <p class="subtitle">Lo mas hablado en Argentina ahora!</p>
                                    <app-trends></app-trends>
                                </div>
                            </div><!-- End of single_home_slider -->
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End of Home Section -->

        <!-- Busqueda Section -->
        <section id="service" class="contactus">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="main_contact sections"> 
                            <div class="single_service_area ">
                                <div class="row">
                                    <app-chart></app-chart>  

                                    <div class="col-sm-5 col-sm-pull-6">
                                        <div class="single_service">                                    
                                            <div class="head_title text-center">
                                                <h2>Hace tu búsqueda</h2>
                                            </div>        
                                                <app-busqueda></app-busqueda>                                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single_service_area  margin-top-60">                                                                    
                                    <app-tweets-list></app-tweets-list> 
                            </div><!-- End of single service area -->

                        </div>
                    </div><!-- End of col-sm-12 -->
                </div><!-- End of row -->
            </div><!-- End of Container -->
        </section><!-- End of Busqueda Section -->

        <!-- Contact Section -->
        <section id="contact" class="contact">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="main_contact sections">
                            <div class="head_title text-center whitetext">
                                <h1>get in touch</h1>
                            </div><!-- End of head title -->

                            <div class="row">
                                <div class="contact_contant">
                                    <div class="col-sm-6 col-xs-12">
                                        <div class="single_message_right_info whitetext">
                                            <ul>
                                                <li><i class="fa fa-map-marker"></i> <span>23 Mulholland Drive, Suite 721. Los Angeles 10010
                                                        100 S. Main Street. Los Angeles 90012</span></li>

                                                <li><i class="fa fa-mobile-phone"></i> <span>+1-670-567-5590</span></li>

                                                <li><i class="fa fa-envelope-o"></i> <span>flor.marro@gmail.com</span><span>rapetticarolina@gmail.com</span></li>
                                            </ul>

                                            <div class="contact_socail transition">
                                                <a href=""><i class="fa fa-facebook img-circle"></i></a>
                                                <a href=""><i class="fa fa-twitter img-circle"></i></a>
                                                <a href=""><i class="fa fa-google-plus img-circle"></i></a>
                                                <a href=""><i class="fa fa-pinterest img-circle"></i></a>
                                                <a href=""><i class="fa fa-instagram img-circle"></i></a>
                                            </div>
                                        </div>
                                    </div><!-- End of col-sm-6 -->

                                    <div class="col-sm-6 col-xs-12">
                                        <div class="single_contant_left margin-top-60">
                                            <form action="#" id="formid">
                                                <!--<div class="col-lg-8 col-md-8 col-sm-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-1">-->

                                                <div class="form-group">
                                                    <label>name</label>
                                                    <input type="text" class="form-control" name="name" required="">
                                                </div>

                                                <div class="form-group">
                                                    <label>e-mail</label>
                                                    <input type="email" class="form-control" name="email" required="">
                                                </div>

                                                <div class="form-group">
                                                    <label>your message</label>
                                                    <textarea class="form-control" name="message" rows="8"></textarea>
                                                </div>

                                                <div class="">
                                                    <input type="submit" value="submit" class="btn btn-default">
                                                </div>
                                                <!--</div>--> 
                                            </form>
                                        </div>
                                    </div>
                                </div> <!-- End of messsage contant-->
                            </div>
                        </div>
                    </div><!-- End of col-sm-12 -->
                </div><!-- End of row -->
            </div><!-- End of Contaier -->
        </section><!-- End of portfolio Section --> 



        <!-- footer Section -->
        <footer id="footer" class="footer">
            <div class="container">
                <div class="main_footer">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="copyright_text text-center">
                                <p class=" wow fadeInRight" data-wow-duration="1s">Made with <i class="fa fa-heart"></i> by <a target="_blank" href="http://bootstrapthemes.co">Bootstrap Themes</a>2016. All Rights Reserved</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- End of container -->
        </footer><!-- End of footer -->



        <!-- START SCROLL TO TOP  -->

        <div class="scrollup">
            <a href="#"><i class="fa fa-chevron-up"></i></a>
        </div>


