<form (ngSubmit)="onSubmit(emotionsForm)" #emotionsForm="ngForm" >
<!--Usamos la directiva ngModel para el two-way data binding-->

  <div class="form-group">
    <label>Ingrese hashtag de busqueda</label>
    <input type="text"  [(ngModel)] = "hashtags" name="keywords" class="form-control" id="hashtags" required>
    <p>Hashtags a buscar: {{hashtags}}</p>
    <div class="form-group btn-group btn-group-toggle">
      <label class="btn btn-secondary active">
        <input type="radio" name="operacion" value=1 [(ngModel)]="operacion" autocomplete="off"> Conjuncion
      </label>
      <label class="btn btn-secondary">
        <input type="radio" name="operacion" value=0 [(ngModel)]="operacion" autocomplete="off"> Disyuncion
      </label>
      <p>Valor de operacion {{ operacion }}</p>
    </div>
  </div>

  <div class="form-group">
    <label>Datos hasta la fecha</label>
    <input type="date" [(ngModel)] = "fecha_hasta" name="fecha_hasta" class="form-control" id="fecha_hasta" >
    <b>*El máximo permitido es 7 días atrás</b>
  </div>

  <div class="form-group">
    <label>Limitar tweets buscados</label>
    <input for="cant_tweets" type="range" min="0" max="3000" [(ngModel)] = "limite" name="limite" class="form-control" id="limite">
    <p> {{limite}} </p>
  </div>

  <button type="submit" class="btn">Buscar</button>
  
</form>